*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(img/gl113.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    font-family: 'Josefin Sans', sans-serif;
}
ul{
    margin-bottom: 50px;
}
ul a{
    font-size: 29px;
    color: white;

}
ul a:hover{
 text-decoration: none;
 color: gray;
}
label{
    font-weight: normal;
    color: white;
    font-size: 19px;
}
.form-control{
 background: transparent;
 border-radius: 0px;
 border: 0px;
 border-bottom: 1px solid black;
 margin-bottom: 20px;
 font-size: 22px;
 color: white;
 padding: 20px;
}
input[type="checkbox"]{
    height: 15px;
    width: 15px;
}
small{
    font-size: 19px;
    color: white;
}
.btn-info{
background: black;
border: 2px solid black;
border-radius: 0px;
width: 360px;
margin-top: 20px;
font-size: 20px;
background: transparent; 
}
.btn-info:hover{
    background: gray;
    border: 2px solid black;
}
img{
    width: 450px;
    height: 477px;
}